@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollbar::-webkit-scrollbar{
  height: 8px !important;
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #242424;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
background-color: #151718;
border-radius: 10px;
}

:root {
  color-scheme: light dark;
  background-color: #242424;  
  font-family: "Noto Serif", serif;
  color: rgba(255, 255, 255, 0.87);
}
